.stat {
  white-space: nowrap;

  > span {
    font-size: 1.2em;
    line-height: 1;
  }

  > label {
    @extend .data-label;
  }

  > i {
    font-size: .9em;
  }
}

.stat-row:not(:first-child) {
  margin-top: 1em;
}

.stat__kills:nth-child(n+4) {
  margin-top: 1em;
}

.stat-row__header {
  margin-top: 1.5em;
  margin-bottom: -.5em;
  text-transform: uppercase;
  color: #999;
  font-family: 'Roboto Condensed';
}

.stat__header {
  @extend .data-label;
  font-size: .9em;
  margin-bottom: .75em;
  padding-bottom: .5em;
  border-bottom: 1px solid #e3e3e3;
  color: #333;
}
