.stat {
  white-space: nowrap;

  > span {
    font-size: 1.2em;
    line-height: 1;
  }

  > label {
    @extend .data-label;

    &:only-child {
      line-height: 1;
    }
  }

  > i {
    font-size: .9em;
  }

  .faded {
    font-size: .8em;
    color: #999;
  }
}

.stat-header {
  @extend .data-label;
  color: #333;
  font-weight: 400;
  white-space: normal;
}

.stat-row:not(:first-child) {
  margin-top: .82em;
}

.stat__kills:nth-child(n+4) {
  margin-top: 1em;
}

.stat-row__header {
  margin-top: .9em;
  margin-bottom: -.5em;
  text-transform: uppercase;
  color: #999;
  font-family: 'Roboto Condensed';
}

.stat__header {
  @extend .data-label;
  font-size: .9em;
  margin-bottom: .75em;
  padding-bottom: .5em;
  border-bottom: 1px solid #e3e3e3;
  color: #333;
}

.stat__label--heave {
  color: #666;
}
