<div class="popover" tabindex="-1" ng-show="player.year3.kd > 0 || player.year2.kd > 0">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="popover-row">
      <div class="popover-col stat" ng-if="player.currentWeek.kd > 0">
        <span ng-bind="player.currentWeek.kd | number:2"></span>
        <label translate="THISWEEK"></label>
      </div>
      <div class="popover-col stat" ng-if="player.year3.kd > 0">
        <span ng-bind="player.year3.kd | number:2"></span>
        <label translate="YEAR3"></label>
      </div>
      <div class="popover-col stat" ng-if="player.year2.kd > 0">
        <span ng-bind="player.year2.kd | number:2"></span>
        <label translate="YEAR2"></label>
      </div>
      <div class="popover-col stat" ng-if="player.year1.kd > 0">
        <span ng-bind="player.year1.kd | number:2"></span>
        <label translate="YEAR1"></label>
      </div>
    </div>
  </div>
</div>
