$challenge-color: #009688;

.challenge-intro {
  background: url('/assets/img/variks-vex.png') #E0F2F1 no-repeat -3em bottom;
  background-size: 15em auto;
  border-radius: .5em;
  padding: 1.5em;
  border: 1px solid $challenge-color;
  text-align: left;
  padding-left: 13em;
}

.challenge-tab {
  background: url('/assets/img/variks-vex.png') #E0F2F1 no-repeat 2em bottom;
  background-size: auto 100%;
  border-radius: .5em;
  padding: 1.5em;
  margin-bottom: -$player-content-padding;
  text-align: left;
  padding-left: 9em;

  .stat {
    text-align: center;

    > span {
      font-size: 2em;
    }
  }
}

.challenge-weapon {
  margin-bottom: 1em;
}

.challenge-intro__header {
  color: $challenge-color;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9em;
}

.challenge-intro__challenge {
  font-size: 1.2em;
}

.challenge-intro__descr {
  margin-top: 1em;
  color: $challenge-color;
}

.challenge-after {
  > strong {
    color: $challenge-color;
  }
}

.challenge__amount {
  font-size: 1.2em;
  margin: .5em 0;
  display: block;
}

.leaderboard {
  display: flex;
  align-items: center;
  font-size: .9em;
  line-height: 2.5em;

  &:first-child {
    margin-top: -.5em;
  }

  a {
    color: inherit;
  }

  .first-in-lighthouse__rank {
    width: 2em;
    height: 2em;
    margin: 0;
    margin-right: .5em;

    span {
      font-size: 1em;
      text-shadow: none;
    }
  }
}

.leaderboard__rank {
  width: 2em;
  margin-right: .5em;
  text-align: center;
}

.leaderboard__amount {
  font-size: 1em;
}

.leaderboard__player {
  flex-grow: 1;

  > img {
    height: .9em;
    vertical-align: middle;
    margin-left: .25em;
  }
}

@media all and (max-width: 400px) {
  .challenge-intro {
    padding-left: 1.5em;
    background-size: 10em auto;
    background-position: left bottom;
  }

  .challenge-intro__descr {
    padding-left: 9em;
  }
}
