.player-hazards {
  padding: $player-content-padding;
  white-space: nowrap;
  overflow-x: auto;
  border-top: 1px solid #eee;
  line-height: 1;

  .player.with-overlay & {
    @include overlay-modifiers();
  }
}

.player-hazard {
  background: $hazard-background;
  color: white;
  font-size: .8em;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  margin-right: 3px;
  line-height: 1.3;
  font-weight: normal;

  & + .player-hazard--none {
    display: none;
  }
}

.weapon__hazards .player-hazard {
  background: $hazard-background;
}

.player-hazard--developer {
  background: white;
  text-shadow: none;
  color: #2196F3;
}

.player-hazard--donator {
  background: white;
  text-shadow: none;
  color: $success;
}

.player-hazard--sherpa {
  background: white;
  text-shadow: none;
  color: #E65100;
  padding-right: 0;

  &:after {
    content: attr(data-count) "x";
    padding: 1px 3px 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 0 3px 3px 0;
    background: transparentize(#E65100, 0.8);
    color: #E65100;
    display: inline-block;
  }
}

.player-hazard--joel {
  background: white;
  text-shadow: none;
  color: #4099FF;
}

.player-hazard--challenger {
  background: white !important;
  text-shadow: none;
  color: #00897B;
}

.player-hazard--charity1 {
  background: white;
  text-shadow: none;
  color: #651FFF;
}

.player-hazard--none {
  border: 1px solid #B0BEC5;
  background: white;
  color: #B0BEC5;
}

.player-hazard--more {
  background: rgba(255, 255, 255, 0.5);
}

.badge-overview:first-child hr {
  display: none;
}

.badge-overview__item {
  display: flex;
}

.badge-overview__badge .player-hazard {
  border: 1px solid currentColor;
  white-space: nowrap;
  font-size: .7em;
}

.badge-overview__description {
  font-size: .9em;
  margin-left: 1em;
  padding-top: .25em;
}
