.settings-btn {
	position: relative;
	z-index: -1;
	opacity: .5;

	.btn.btn.btn {
		background: rgba(255, 255, 255, .07);
		display: block;
		width: 100%;
		text-align: left;
		padding: 1em $controls-padding;
		font-size: .9em;
		color: rgba(255, 255, 255, .5);
	}

	&:hover {
		opacity: 1;
	}
}

.settings-modal {
	.modal-hero {
		background: repeating-linear-gradient(
		  45deg,
		  #333,
		  #333 5px,
		  darken(#333, 10%) 5px,
		  darken(#333, 10%) 10px
		);
	}

	.modal-hero__title {
		font-size: 1.3em;
	}

	.row {
		transition: opacity linear .2s;
	}

	.row.is-disabled {
		opacity: .3;
		pointer-events: none;
	}
}

.setting {
	> label {
		@extend .data-label;
		color: darken(#999, 20%);
	}

	.togglebutton {
		margin-bottom: .75em;
	}

	> span {
		font-size: .8em;
		line-height: 1.4;
		display: block;
		color: lighten(#999, 10%);
	}
}
