.title-bar {
  box-shadow: inset 0 -150px 50px -80px rgba(0, 0, 0, .75);
  background: center top no-repeat;
  background-size: auto 20em;
}

.banner-image {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 20%;
  height: 10em;
  display: inline-block;
  background-size: auto 11em;
}

.banner-image.one {
  left: 0%;
  background-position: 0%;
}

.banner-image.two {
  left: 20%;
  background-position: 20%;
}

.banner-image.three {
  left: 40%;
  background-position: 40%;
}

.banner-image.four {
  left: 60%;
  background-position: 60%;
}

.banner-image.five {
  left: 80%;
  background-position: 80%;
}

.banner-image:hover {
  left: 0;
  z-index: 50;
  background-position: 0%;
  width: 100%;
}

.title-bar__content {
  padding: $controls-padding;
  padding-top: 6em;
  padding-bottom: 1.7em;
  display: flex;
  align-items: center;

  z-index: 0;
}

.title-bar__title {
  font-size: 1.7em;
  line-height: 1.4;
  flex-grow: 1;

  z-index: 100;

  a,
  a:hover,
  a:focus,
  a:active {
    color: white;
    text-decoration: none;
  }
}

@media all and (max-width: 1280px) {
  .title-bar {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}

@media all and (max-width: 1500px) and (min-width: 1280px) {
  .title-bar__title {
    font-size: 1.5em;
  }
}

@media all and (max-width: 1380px) and (min-width: 1280px) {
  .title-bar__title {
    font-size: 2em;
    line-height: 1.1;

    .hide-on-small {
      display: none;
    }
  }
}

@media all and (max-width: 400px) {
  .title-bar__title {
    font-size: 1.3em;
    line-height: 1.1;
  }
  .hide-on-sm {
    display: none;
  }
}
