<div class="player shadow-z-1" ng-class="{'is-virgin':!player.activities.lastTwentyFive, 'with-overlay is-invalid':player.invalidResult}">

  <div ng-include="'components/player/overview.partial.html'"></div>

  <!--<div class="realtime" ng-if="$storage.realtime">-->
    <!--<div class="player-tab__section">-->
      <!--<div class="realtime__flag">-->
        <!--BETA-->
      <!--</div>-->
      <!--<div class="realtime__header">-->
        <!--MEGA REAL-TIME REPORT-->
        <!--<i-->
          <!--data-content="Maybe probably around 96% accurate we think"-->
          <!--class="material-icons icon&#45;&#45;small info" style="cursor: pointer;"-->
          <!--bs-popover>&#xE8FD;</i>-->
      <!--</div>-->
      <!--<div class="stat">-->
        <!--<span realtime type="location">Camping in Circle Room</span>-->
        <!--<label>Current location <span class="player-hazard">LIVE</span></label>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-xs-7">-->
          <!--<div class="stat">-->
            <!--<span realtime type="weapon" inventory="[player.inventory.weapons.primary, player.inventory.weapons.special, player.inventory.weapons.heavy]">-->
              <!--<img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net/common/destiny_content/icons/d60c04ac69d9cc73f2fdb2ab704b1ec8.jpg" alt="No Land Beyond" src="https://www.bungie.net/common/destiny_content/icons/d60c04ac69d9cc73f2fdb2ab704b1ec8.jpg">-->
              <!--No Land Beyond-->
            <!--</span>-->
            <!--<label>Equipped weapon <span class="player-hazard">LIVE</span></label>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-5">-->
          <!--<div class="stat">-->
            <!--<span realtime type="elo">1,200</span>-->
            <!--<label>TSRELO <i-->
              <!--data-content="Our own new rating system, Truer Skill Rank Elo. This one DOES update in real-time!!!"-->
              <!--class="material-icons icon&#45;&#45;small info" style="cursor: pointer;"-->
              <!--bs-popover>&#xE8FD;</i>-->
              <!--<span class="player-hazard">LIVE</span>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="stat">-->
        <!--<span realtime type="thought">"I should make pizza tonight"</span>-->
        <!--<label>Current thought <span class="player-hazard">LIVE</span></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div ng-include="'components/player/specific-stats.partial.html'" ng-if="!subdomain"></div>

  <uib-tabset class="player-tabs" ng-if="!subdomain"
              ng-class="{'is-hidden': !$storage.visibility.all &&
                                      ((!$storage.visibility.equipped.tab && !$storage.visibility.lastMatches.tab) ||
                                      (!$storage.visibility.equipped.tab && !$storage.visibility.stats.tab) ||
                                      (!$storage.visibility.lastMatches.tab && !$storage.visibility.stats.tab) ||
                                      (!$storage.visibility.equipped.tab && !$storage.visibility.lastMatches.tab && !$storage.visibility.stats.tab))}">
    <uib-tab ng-if="$storage.visibility.all || $storage.visibility.equipped.tab" class="player-tab--equipped" heading="Equipped"
             analytics-on analytics-event="Click" analytics-category="Equipped">
      <div ng-include="'components/inventory/inventory.partial.html'">
      </div>
    </uib-tab>
    <uib-tab ng-if="$storage.visibility.all || $storage.visibility.lastMatches.tab" class="player-tab--last-matches" heading="Last Matches"
             analytics-on analytics-event="Click" analytics-category="Last Matches" ng-click="getLastMatch(player)">
      <div ng-include="'components/matches/matches.partial.html'">
      </div>
    </uib-tab>
    <uib-tab ng-if="$storage.visibility.all || $storage.visibility.stats.tab" class="player-tab--stats" heading="Stats"
             analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'components/stats/stats.partial.html'">
      </div>
    </uib-tab>
  </uib-tabset>

  <uib-tabset class="player-tabs" ng-if="subdomain">
    <uib-tab class="player-tab--stats my-tab" heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'components/stats/stats.partial.html'"></div>
    </uib-tab>
    <uib-tab class="player-tab--maps my-tab" heading="Weapons" analytics-on analytics-event="Click" analytics-category="Weapons">
      <div ng-include="'components/stats/weapons.partial.html'"></div>
    </uib-tab>
    <uib-tab class="player-tab--last-matches my-tab" heading="Matches" analytics-on analytics-event="Click" analytics-category="Last Matches" ng-click="getLastMatch(player)">
      <div ng-include="'components/matches/matches.partial.html'"></div>
    </uib-tab>
    <uib-tab class="player-tab--challenge my-tab" heading="Challenge" analytics-on analytics-event="Click" analytics-category="Challenge">
      <div ng-include="'components/stats/challenge.partial.html'"></div>
    </uib-tab>
  </uib-tabset>

  <div class="player__links">
    <div class="row">
      <div class="col-xs-12 player__links__btns">
        <a ng-href="https://guardian.gg/en/profile/{{player.membershipType}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default"
           analytics-on analytics-event="Click" analytics-category="Guardian.gg">
          <img src="/assets/img/ggg-logo.png" alt="Guardian.gg">
        </a>
        <a ng-href="https://my.trials.report/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="!subdomain"
           analytics-on analytics-event="Click" analytics-category="myDestinyTrialsReport">
          myTrialsReport
        </a>
        <a ng-href="https://trials.report/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="subdomain"
           analytics-on analytics-event="Click" analytics-category="DestinyTrialsReport">
          DestinyTrialsReport
        </a>
        <!--<a ng-if="true" ng-href="https://twitch.tv//{{player.twitch}}"-->
           <!--type="button" target="_blank" class="btn btn-default"-->
           <!--analytics-on analytics-event="Click" analytics-category="Twitch">-->
          <!--<img src="/assets/img/twitch-logo.svg" alt="Twitch">-->
        <!--</a>-->
      </div>
    </div>
  </div>

</div>
