<uib-tabset class="player-tabs" ng-class="{'is-hidden': false }">
	<uib-tab ng-if="$storage.visibility.all || $storage.visibility.equipped.tab"
					 class="player-tab--equipped"
					 heading="{{currentMapInfo.weekText}}"
					 analytics-on analytics-event="Click"
					 analytics-category="This week">
	  <div class="player-tab--equipped">
			<div class="player-tab__section"
					 ng-class="{'is-irrelevant': !player.currentWeek.percent}"
					 ng-show="$storage.visibility.all || $storage.visibility.weeklyStats">
			  <div class="row" ng-repeat="weapon in player.lastWeapons">
			    <div class="col-xs-6">
			      <img class="weapon-type-icon img-responsive"
			           ng-src="{{'assets/img/weapon-icons/' + weapon.itemTypeName.toLowerCase().replace(' ','-') + '.svg'}}"
			           alt="{{weapon.itemTypeName}}"><!-- this isn't translated -->
			    </div>
			    <div class="col-xs-3">
			      <span ng-bind="weapon.sum_kills"></span>
			    </div>
			    <div class="col-xs-3">
			      <span ng-bind="(weapon.sum_headshots / weapon.sum_kills) * 100 | number:2"></span>%
			    </div>
			  </div>
			  <div ng-if="player.lastWeapons.length === 0">
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sniper-rifle.svg"
			             alt="{{'weaponKillsSniper' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sword.svg"
			             alt="{{'weaponKillsSword' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sidearm.svg"
			             alt="{{'weaponKillsSideArm' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			  </div>
			  <div class="row">
			    <div class=" col-xs-6">
			      <div class="data-label" translate="WEAPONTYPESUSED"></div>
			    </div>
			    <div class="col-xs-3">
			      <div class="data-label" translate="kills"></div>
			    </div>
			    <div class="col-xs-3">
			      <div class="data-label" translate="HEADSHOTS"></div>
			    </div>
			  </div>
			</div>
			<div class="player-tab__section">
		    <div class="row">
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.matches | number:0"></span>
		        <label translate="MATCHES"></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.wins | number:0"></span><div class="stat-divider">/</div><span ng-bind="player.currentWeek.losses | number:0"></span>
		        <label><span translate="WON"></span> / <span translate="LOST"></span></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.kills | number:0"></span><div class="stat-divider">/</div><span ng-bind="player.currentWeek.deaths | number:0"></span>
		        <label><span translate="kills"></span> / <span translate="deaths"></span></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.kd | number:2"></span>
		        <label translate="killsDeathsRatioShort"></label>
		      </div>
		    </div>
			</div>
		</div>
	</uib-tab>
	<uib-tab ng-if="$storage.visibility.all || $storage.visibility.lastMatches.tab"
					 class="player-tab--last-matches"
					 heading="{{currentMapInfo.name}}"
					 analytics-on analytics-event="Click"
					 analytics-category="This map">
		<div class="player-tab--last-matches">
			<div class="player-tab__section"
					 ng-class="{'is-irrelevant': !player.currentWeek.percent}"
					 ng-show="$storage.visibility.all || $storage.visibility.weeklyStats">
			  <div class="row" ng-repeat="weapon in player.lastWeapons">
			    <div class="col-xs-6">
			      <img class="weapon-type-icon img-responsive"
			           ng-src="{{'assets/img/weapon-icons/' + weapon.itemTypeName.toLowerCase().replace(' ','-') + '.svg'}}"
			           alt="{{weapon.itemTypeName}}"><!-- this isn't translated -->
			    </div>
			    <div class="col-xs-3">
			      <span ng-bind="weapon.sum_kills"></span>
			    </div>
			    <div class="col-xs-3">
			      <span ng-bind="(weapon.sum_headshots / weapon.sum_kills) * 100 | number:2"></span>%
			    </div>
			  </div>
			  <div ng-if="player.lastWeapons.length === 0">
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sniper-rifle.svg"
			             alt="{{'weaponKillsSniper' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sword.svg"
			             alt="{{'weaponKillsSword' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			    <div class="row player-this-week__weapons">
			      <div class=" col-xs-6">
			        <img class="weapon-type-icon img-responsive"
			             src="assets/img/weapon-icons/sidearm.svg"
			             alt="{{'weaponKillsSideArm' | translate}}">
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			      <div class="col-xs-3">
			        0
			      </div>
			    </div>
			  </div>
			  <div class="row">
			    <div class=" col-xs-6">
			      <div class="data-label" translate="WEAPONTYPESUSED"></div>
			    </div>
			    <div class="col-xs-3">
			      <div class="data-label" translate="kills"></div>
			    </div>
			    <div class="col-xs-3">
			      <div class="data-label" translate="HEADSHOTS"></div>
			    </div>
			  </div>
			</div>
			<div class="player-tab__section">
		    <div class="row">
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.matches | number:0"></span>
		        <label translate="MATCHES"></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.wins | number:0"></span><div class="stat-divider">/</div><span ng-bind="player.currentWeek.losses | number:0"></span>
		        <label><span translate="WON"></span> / <span translate="LOST"></span></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.kills | number:0"></span><div class="stat-divider">/</div><span ng-bind="player.currentWeek.deaths | number:0"></span>
		        <label><span translate="kills"></span> / <span translate="deaths"></span></label>
		      </div>
		      <div class="col-xs-3 stat">
		        <span ng-bind="player.currentWeek.kd | number:2"></span>
		        <label translate="killsDeathsRatioShort"></label>
		      </div>
		    </div>
			</div>
		</div>
	</uib-tab>
</uib-tabset>
