<a type="button" class="btn btn-default" ng-click="toggleStats()"
   analytics-on analytics-event="Toggle Stats" analytics-category="Toggle Stats" style="padding: .5em 1em;">
  <span class="highlight" ng-bind="hideStats ? 'Show' : 'Hide'"></span><span style="color: white;">Stats</span>
</a>

<div class="block__footer-dark block__footer--ad-dark">
  <div class="ad">
    <adsense ad-client="ca-pub-7408805581120581" ad-slot="8795722555" ad-format="300x250" inline-style="width: 300px; height: 250px;"></adsense>
  </div>
</div>

<div class="donate">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5UR8BVAZQHBUW&lc=US&currency_code=USD" target="_blank"
     analytics-on analytics-event="Click" analytics-category="Donate">
    <div class="donate__title">
      Help us run this site, donate with <img src="/assets/img/paypal.svg" alt="PayPal">
    </div>
    <div class="donate__descr">
      You get a sexy&nbsp;&nbsp;<div class="player-hazard player-hazard--donator">Donator</div>&nbsp;badge if you leave your gamertag with the donation!</label>
    </div>
  </a>
</div>

<div class="colofon">
  <div class="colofon__copyright">
    © 2016 Destiny<span class="highlight">Trials</span>Report
  </div>
  <div class="colofon__twitter">
    <a href="https://twitter.com/TrialsReport" target="_blank"
       analytics-on analytics-event="Click" analytics-category="Twitter">
      <img src="/assets/img/twitter.svg" alt="Twitter">
    </a>
  </div>
  <div class="colofon__email">
    <a href="mailto:destinytrialsreport@gmail.com" target="_blank"><i class="material-icons">&#xE158;</i></a>
  </div>
  <div class="colofon__contribute">
    <a href="https://github.com/DestinyTrialsReport/DestinyTrialsReport" target="_blank"
       analytics-on analytics-event="Click" analytics-category="GitHub">
      <img src="/assets/img/github.svg" alt="GitHub">
    </a>
  </div>
</div>
