<div class="header__content shadow-z-2">
  <div class="title-bar" ng-class="{'is-week-23': isPlaylist()}"
       ng-style="{'background-image': !isPlaylist() ? 'url(https://www.bungie.net/' + currentMap.pgcrImage + ')' : 'url(' + getPlaylistHeader() + ')'}">
    <div class="title-bar__content">
      <div class="title-bar__title">
        <a href="/" target="_self">
          <span ng-if="subdomain" class="highlight">my</span>D<span class="hide-on-small">estiny</span><span class="highlight">T<span class="hide-on-small">rials</span></span>R<span class="hide-on-small">eport</span>
        </a>
      </div>
      <div class="platform-toggle">
        <div class="togglebutton">
          <label class="platform-toggle__name" ng-class="{'is-active':platformValue}" ng-click="platformValue = setPlatform(true)"><img src="assets/img/ps.svg" alt="PlayStation"></label>
          <label class="platform-toggle__btn">
            <input type="checkbox" ng-click="togglePlatform()" ng-model="platformValue" ng-true-value="false" ng-false-value="true">
          </label>
          <label class="platform-toggle__name" ng-class="{'is-active':!platformValue}" ng-click="platformValue = setPlatform(false)"><img src="assets/img/xbox.svg" alt="Xbox"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="main-search">
    <div class="main-search__content">
      <div class="main-search__fireteam">
        <form ng-submit="searchMainPlayerbyName(mainPlayer)">
          <div class="main-search__row">
            <div class="main-search__input">
              <input type="text" class="form-control"
                     placeholder="{{fireteam[0].name || (!subdomain ? 'Enter your opponent\'s gamertag' : 'Enter your gamertag')}}"
                     ng-model="mainPlayer" ng-value="(!fireteam[0] ? searchedPlayer : '')"
                     autocorrect="off" autocomplete="off" spellcheck="false">
              <!--<ul class="dropdown-menu" ng-if="playerNames">-->
                <!--<li class="dropdown-menu__label">Suggested Players</li>-->
                <!--<li ng-repeat="player in playerNames">-->
                  <!--<a href="#" ng-click="searchMainPlayerbyName(player.displayName, player.membershipType)"-->
                     <!--ng-bind="player.displayName"></a>-->
                <!--</li>-->
              <!--</ul>-->
            </div>
            <div class="main-search__controls">
              <div class="main-search__refresh" ng-if="!subdomain" ng-show="fireteam[0].name != null">
                <button class="btn btn-default btn-icon" type="button" ng-click="refreshInventory(fireteam)"
                        analytics-on analytics-event="Click" analytics-category="Refresh Inventory">
                  <i class="material-icons">&#xE86A;</i>
                </button>
              </div>
              <div class="main-search__submit">
                <button type="submit" class="btn btn-default btn-icon" ng-disabled="status"><i class="material-icons">&#xE163;</i></button>
              </div>
            </div>
          </div>
        </form>
        <div ng-if="!subdomain && fireteam[0].name && $index < 3 && $index > 0" ng-repeat="player in fireteam track by $index">
          <form role="form" ng-submit="searchPlayerbyName(teammateName, platformValue, $index)">
            <div class="main-search__row">
              <div class="main-search__input">
                <input type="text" class="form-control" placeholder="{{fireteam[$index].name || 'Enter their teammates\' gamertag'}}"
                       ng-model="teammateName" basic-click="suggestRecentPlayers()" ng-change="filter(teammateName)"
                       data-toggle="dropdown" autocorrect="off" autocomplete="off" spellcheck="false">
                <ul class="dropdown-menu">
                  <li class="dropdown-menu__label">{{fireteam[0].name}}'s recent teammates</li>
                  <li ng-repeat="recentPlayer in recentPlayers" ng-if="recentPlayer.displayName !== fireteam[$parent.$index].name">
                    <a href="#" ng-click="searchPlayerbyName(recentPlayer.displayName, platformValue, $parent.$parent.$index)" ng-bind="recentPlayer.displayName"></a>
                  </li>
                </ul>
              </div>
              <div class="main-search__controls">
                <div class="main-search__submit">
                  <button type="submit" class="btn btn-default btn-icon" ng-disabled="status"><i class="material-icons">&#xE163;</i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <message message-id="4" message="'Uh-oh.'" message-type="'error'"></message>

  <div class="controls-map" ng-class="{'is-week-23': isPlaylist()}"
       ng-style="{'background-image': !isPlaylist() ? 'url(https://www.bungie.net/' + currentMap.pgcrImage + ')' : 'url(' + getPlaylistHeader() + ')'}">
    <div class="controls-map__content">
      <div class="controls-map__title stat">
        <span ng-bind="!isPlaylist() ? currentMap.name : ('playlist_name' | translate)"></span>
        <span class="map-cycle-popover"
              ng-if="isPlaylist()"
              data-content="{{getPlaylistPopover()}}"
              data-placement="right"
              bs-popover>
          <i class="material-icons icon--small">&#xE148;</i>
        </span>
        <label ng-bind="(trialsInProgress ? 'This week' : 'Last week') + '\'s map'"></label>
      </div>
      <button type="button" class="btn btn-flat btn-sm" ng-if="currentMap.mapImage && !isPlaylist()"
              data-template-url="shared/modals/map.modal.html" bs-modal>
        Overview
      </button>
    </div>
  </div>
</div>

<div class="settings-btn shadow-z-1">
  <button type="button" data-template-url="shared/modals/settings.modal.html" class="btn btn-inline" bs-modal>
    <i class="material-icons icon--small">&#xE8B8;</i> Language &amp; Settings
  </button>
  <div class="settings__master" ng-click="$storage.visibility.all = !$storage.visibility.all">
    <label class="data-label">Ignore custom<br>card settings</label>
    <span class="togglebutton">
      <label>
        <input type="checkbox" ng-model="$storage.visibility.all">
      </label>
    </span>
  </div>
</div>
