<div class="player-tab--last-matches" ng-class="{'is-loading': !player.activities.lastMatches}">
  <div class="player-tab__section">
    <div class="row">
      <div class="last-match__result col-xs-4" ng-repeat="match in player.activities.lastMatches">
        <span class="match" ng-class="{'match--win': match.standing === 0, 'match--loss': match.standing === 1}"></span>
        <span class="last-match__score">
          <span class="last-match__score--team" ng-bind="match.values.teamScore.basic.value"></span>
          -
          <span class="last-match__score--opponents" ng-bind="match.values.enemyScore.basic.value"></span>
        </span>
        <span class="last-match__date" ng-bind="match.values.dateAgo"></span>
      </div>
    </div>
  </div>
  <div match-stats="player.activities.lastMatches"
       player-abilities="player.inventory.subclass.build"
       ng-if="player.activities.lastMatches">
  </div>
</div>
