<div class="home__content">
  <article class="home__main">
    <div class="maps block blog-post shadow-z-1 {{mapInfoAnimClass}}">
      <div class="modal-hero blog-image"
           ng-style="{'background-image': !isPlaylist(currentMapInfo.week) ? 'url(' + currentMapInfo.pgcrImage + ')' : 'url(' + getPlaylistHeader(currentMapInfo.week) + ')'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title" ng-bind="!isPlaylist(currentMapInfo.week) ? currentMapInfo.name : ('playlist_name' | translate)"></h2>
          <span class="map-cycle-popover"
                ng-if="isPlaylist(currentMapInfo.week)"
                data-content="{{getPlaylistPopover(currentMapInfo.week)}}"
                data-placement="right"
                bs-popover>
            <i class="material-icons md-16">&#xE148;</i>
          </span>
          <p class="modal-hero__description stat" ng-bind="currentMapInfo.weekText"></p>
        </div>
        <div class="modal-hero__switch">
          <div class="modal-hero__switch__btns">
            <a href="#" ng-style="{'opacity': showPrev ? '1' : '.2' }" ng-click="toggleDirection('left')"><i class="material-icons">&#xE5CB;</i></a>
            <a href="#" ng-style="{'opacity': showNext ? '1' : '.2' }" ng-click="toggleDirection('right')"><i class="material-icons">&#xE5CC;</i></a>
          </div>
          <label>Other weeks</label>
        </div>
      </div>
      <div class="blog-post__content" ng-if="currentMapInfo">
        <div class="row">
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="currentMapInfo.lighthouse | number"></span>
            <label>Flawless runs</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="currentMapInfo.players | number"></span>
            <label>Guardians participated</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="currentMapInfo.matches | number"></span>
            <label>Total matches</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="currentMapInfo.kills | number"></span>
            <label>Total kills</label>
          </div>
        </div>
        <hr>
        <div class="row" ng-if="currentMapInfo">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Weapon usage by type
            </h3>
            <span data-content="Percentages are based on usage of weapon types in relation to total kills in their category.<hr />Difference to the average represents how much more or less that specific weapon type is used on {{currentMapInfo.name || 'this map'}} in relation to all other Trials of Osiris maps since the latest balance update." bs-popover>
              <i class="material-icons icon--small info">&#xE8FD;</i>
            </span>
          </div>
          <div class="col-xs-12 col-sm-4" ng-repeat="(key, weapons) in weaponSummary track by $index"
               ng-class="{'col-sm-offset-1': $index > 0}">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label" ng-bind="key"></label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Diff. to avg</label>
                </div>
              </div>
              <div class="row top-weapons--map__row" ng-repeat="weapon in weapons">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/{{weapon.file_name}}"
                       alt="{{weapon.weapon_type}}">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span ng-bind="weapon.killPercentage | number:2"></span>%
                </div>
                <div class="col-xs-3 col-sm-4 stat"
                     ng-class="{'success': weapon.diffPercentage > 0, 'fail': weapon.diffPercentage < 0}">
                  <i class="material-icons" ng-bind="weapon.diffPercentage > 0 ? '&#xE5CE;' : '&#xE5CF;'"></i>
                  <span ng-bind="weapon.diffPercentage | number:2"></span>%
                </div>
              </div>
              <hr class="hr--minor visible-xs" ng-if="$index === 0">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Top weapons from Guardian.gg
            </h3>
            <a ng-href="https://guardian.gg/en/weapon-stats?platform={{platformNumeric}}&mode=14&start={{trialsDates.begin}}&end={{trialsDates.end}}"
               target="_blank"
               data-content="Kindly provided by Guardian.gg. Click here to head over there for the complete list and a lot more cool stats!" bs-popover>
              <i class="material-icons icon--small info">&#xE148;</i>
            </a>
          </div>
          <div class="col-xs-12 col-sm-10" ng-if="!gggShow">
            <div class="first-in-lighthouse__undecided">
              Guardian.gg does not have any weapon stats to show (yet!).
            </div>
          </div>
          <div class="col-xs-12 col-sm-5" ng-repeat="type in [gggWeapons[platformNumeric].primary,
                                     gggWeapons[platformNumeric].special] track by $index">
            <div class="row top-weapon" ng-repeat="weapon in type track by $index" ng-if="$index < 3">
              <div class="col-xs-6 col-sm-7 last-weapon-weapon__descr">
                <img class="last-match-weapon__img img-responsive" ng-src="{{'https://www.bungie.net/' + weapon.icon}}" alt="{{weapon.name}}">
                <span class="last-match-weapon__title" ng-bind="weapon.name"></span>
              </div>
              <div class="col-xs-6 col-sm-5 stat">
                <span ng-bind="weapon.kills | number:2"></span>%
              </div>
            </div>
            <hr class="hr--minor visible-xs" ng-if="$index === 0">
          </div>
        </div>
        <hr>
        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              First fireteams to reach the lighthouse
            </h3>
            <span data-content="Due to the way Bungie provides information on lighthouse visits, this leaderboard is subject to change when the tension is high." bs-popover>
              <i class="material-icons icon--small info">&#xE8FD;</i>
            </span>
            <div class="first-in-lighthouse__platform-toggle">
              <span class="stat-header">Platform</span>
              <a href ng-click="toggleFlawless(0)" ng-class="{'is-active': lighthouseFilter == 0}">Both</a>
              <a href ng-click="toggleFlawless(1)" ng-class="{'is-active': lighthouseFilter == 1}">Xbox</a>
              <a href ng-click="toggleFlawless(2)" ng-class="{'is-active': lighthouseFilter == 2}">PlayStation</a>
            </div>

          </div>
          <div class="col-xs-12 col-sm-10" ng-if="!lighthouseLeaderboard">
            <div class="first-in-lighthouse__undecided">
              The race is still on...
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 stat first-in-lighthouse__players" ng-if="lighthouseLeaderboard && $index < 3" ng-repeat="lb in lighthouseLeaderboard">
            <span class="first-in-lighthouse__rank first-in-lighthouse__rank&#45;&#45;{{lb.class}}">
              <span>{{lb.rank}}<sup ng-bind="lb.rankSuffix"></sup></span>
            </span>
            <span class="first-in-lighthouse__player" ng-repeat="player in lb.players track by $index">
              <a ng-href="https://my.trials.report/{{$parent.lb.platform === 1 ? 'xbox' : 'ps'}}/{{player}}" ng-bind="player" target="_blank"></a>
            </span>
            <span class="first-in-lighthouse__player" ng-if="lb.players.length <= 2">&nbsp;</span>
            <span class="first-in-lighthouse__player" ng-if="lb.players.length <= 1">&nbsp;</span>
            <div class="first-in-lighthouse__platform">
              <img ng-if="$parent.lb.platform === 1" src="assets/img/xbox.svg" alt="Xbox">
              <img ng-if="$parent.lb.platform === 2" src="assets/img/ps.svg" alt="PlayStation">
            </div>
            <span class="first-in-lighthouse__time">
              <span ng-bind="lb.time"></span>
            </span>
            <hr class="hr--minor visible-xs">
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="home__aside">
    <div ng-include="'components/home/aside.partial.html'"></div>
  </div>
</div>
