<div class="more">
	<h2 class="more__title">More Statistics!</h2>
  <hr>
	<section class="more__section">
		<a
			href="https://trials.report"
			target="_self"
			analytics-on analytics-event="Click"
			analytics-category="trialsReport">
			<span class="more__logo">Destiny Trials Report</span>
      <label>
        Your tool to reach the Lighthouse every weekend
      </label>
		</a>
	</section>
	<hr>
	<section class="more__section more__section--side-by-side">
		<a href="https://twitter.com/trialsreport"
			target="_blank"
			title="Destiny Trials Report on Twitter"
			analytics-on=""
			analytics-event="Click"
			analytics-category="Twitter Blog">
			<img src="/assets/img/twitter.svg">
			<label>
				Follow us on <span class="info">Twitter</span>, where we will share the best stats every weekend
			</label>
		</a>
	</section>
	<hr>
	<section class="more__section">
		<a
			href="https://my.trials.report"
			target="_self"
			 analytics-on analytics-event="Click"
			 analytics-category="myReport">
			<span class="more__logo">myReport</span>
			<label>
				See all your characters in one view with more detailed stats
			</label>
		</a>
	</section>
	<hr>
	<section class="more__section" href="https://opponents.trials.report">
		<a
			href="https://opponents.trials.report"
			target="_self"
			analytics-on analytics-event="Click"
			analytics-category="myOpponents">
			<span class="more__logo more__logo--alt"><span>my</span>Opponents</span>
			<label>
				Search through your opponents and see every match in detail
			</label>
		</a>
	</section>
	<hr>
	<section class="more__section">
		<a
			title="Guardian.gg"
			href="https://guardian.gg"
			target="_blank"
			analytics-on analytics-event="Click"
			analytics-category="GGG Controls">
			<span class="more__logo more__logo--small">GUARDIAN.GG</span>
		</a>
	</section>
</div>
