<div class="modal-hero blog-image infographic__section"
           ng-style="{'background-image': 'url(https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_exodus_blue.jpg)'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title">
            Heroes
          </h2>
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              What a view
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <strong><big><a ng-href="https://my.trials.report/xbox/Smoke 420 x" target="_blank">Smoke 420 x</a></big></strong>
            <p>visited the Lighthouse the most often, <strong>120 times</strong> in total to be precise. That's <strong>5 times per week</strong> on average.
          </div>
        </div>
<!--         <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Not again...
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <strong><big><a ng-href="https://my.trials.report/xbox/Marruk" target="_blank">...</a></big></strong>
            <p>died a <strong>10 times</strong> during one round. There must be some strong medics on that team.</p>
          </div>
        </div> -->
        <hr class="hr">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              What buff?
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <strong><big><a ng-href="https://my.trials.report/ps/Brenni007" target="_blank">Brenni007</a></big></strong>
            <p>was the Guardian that doesn't need a Sniper or Shotgun, making <strong>14,560</strong> kills with a Sidearm.</p>
          </div>
        </div>
        <hr class="hr">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Just in time...
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <strong><big><a ng-href="https://my.trials.report/xbox/Kira86m" target="_blank">Kira86m</a></big></strong>
            <p>was the last person to enter the Lighthouse for the first time ever before Year 2 was over...<br>
            ... with <strong>1 minute and 38 seconds</strong> to spare</p>
          </div>
        </div>
      </div>