<div class="home__content">
  <article class="home__main">
    <div class="maps block blog-post shadow-z-1 {{mapInfoAnimClass}}">
      <div class="modal-hero blog-image"
           ng-style="{'background-image': 'url(/assets/img/infographic/header.png)'}">
        <div class="modal-hero__header">
          <h1 class="modal-hero__title">
            Trials by numbers
          </h1>
        </div>
        <div class="modal-hero__switch">
          <img src="/assets/img/logo.png" title="DestinyTrialsReport">
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12">
            <p>
              As we eagerly await the return of Trials of Orisis in Rise of Iron we decided to look back at Year Two. In this infographic you'll find all the interesting statistics we could find.
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Totals
            </h3>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>2,443,630</span>
            <label>Guardians participated</label>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>548,770</span>
            <label>Reached the lighthouse</label>
          </div>
        </div>
        <hr class="spacer">
        <div class="row">
          <div class="col-xs-6 col-sm-offset-2 col-sm-5 stat">
            <span>69,519,018</span>
            <label>Matches</label>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>1,534,004,822</span>
            <label>Kills</label>
          </div>
          <div class="popover bottom"> <div class="arrow"></div> <h3 class="popover-title">Popover bottom</h3> <div class="popover-content"> <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> </div> </div>
        </div>
      </div>
      <div class="modal-hero blog-image infographic__section"
           ng-style="{'background-image': 'url(/assets/img/infographic/weapons.jpg)'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title">
            Weapons
          </h2>
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Top weapons
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Primary</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/954f8fe742bdee19014685ad2569cfba.jpg">
                    <span class="last-match-weapon__title">MIDA Multi-Tool</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">129,230,798</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">43%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">100,260,304</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">19%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/070481a625605575f12317301b2eb94c.jpg">
                    <span class="last-match-weapon__title">Doctrine of Passing (both versions together)</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">96,310,476</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">35%</span>
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Secondary</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/91739b1516cc8d1e1b5ba9b97172e39f.jpg">
                    <span class="last-match-weapon__title">1000-Yard Stare</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">289,408,459</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">77%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/58412b46270c6cb4762c7bfd69f3714a.jpg">
                    <span class="last-match-weapon__title">Conspiracy Theory-D</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">78,350,662</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">7%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/df8926660dcda886948217f61b1a6e6c.jpg">
                    <span class="last-match-weapon__title">Party Crasher +1</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">59,670,781</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">7%</span>
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Heavy</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/d9e6b8d3990e9c9fc683fe85a153a787.jpg">
                    <span class="last-match-weapon__title">Truth</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">42,420,851</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat"></span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/4ac98364eeddf0581304831f0bbeb75a.jpg">
                    <span class="last-match-weapon__title">Harrowed Qullim's Terminus</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">17,232,574</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">35%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/06295cccac673aa410fb272a8deb0d19.jpg">
                    <span class="last-match-weapon__title">Harrowed Elulim's Frenzy</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">9,803,379</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Kills with the Khvostov 7G-02 &nbsp;
              <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/9a3a2a86698a976a92cec201980630bb.jpg">
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-sm-7 stat">
                <big>5,853</big>
                <label>kills in total</labe>
              </div>
              <hr class="hr--minor visible-xs">
              <div class="col-xs-12 col-sm-5 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--1">
                  <span>1<sup>st</sup></span>
                </span>
                <span class="first-in-lighthouse__player">
                  <a ng-href="https://my.trials.report/xbox/Tehrminatr" target="_blank">Tehrminatr</a>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>27 kills</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Weapon types
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <canvas id="weaponTypeChart">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-10">
            <hr class="hr--minor">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label">Primary</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-5 stat">
                  <label></label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/pulse-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>194,523,945</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>28</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/scout-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>184,748,677</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>27</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/auto-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>153,648,430</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>23</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/hand-cannon.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>149,819,901</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>22</span>%
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label">Secondary</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label></label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/sniper-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>458,671,910</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>63</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/shotgun.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>249,578,696</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>34</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/fusion-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>15,196,183</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>2</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/sidearm.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>10,449,302</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1</span>%
                </div>
              </div>
            </div>
            <hr class="hr--minor">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <label class="top-weapons__label">Heavy</label>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <label>Kills</label>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <label></label>
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/rocket-launcher.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>84,351,291</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>72</span>%
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/machine-gun.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>30,537,959</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>26</span>%
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/sword.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>2,471,884</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>2</span>%
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Least used exotic
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="last-weapon-weapon__descr infographic-weapon-big">
                  <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/32313b7a8cb2ce9105a4b9852bb1e4d2.jpg">
                  <span class="last-match-weapon__title">Pocket Infinity</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 stat infographic-stat-medium">
                <big>17,551</big>
                <label>kills in total</labe>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Most kills with common weapons
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--first">
                  <span>1<sup>st</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net/common/destiny_content/icons/a21349546735cb757404064ac81cefc4.jpg">
                  <br>
                  Ascalon-LR1
                  <br><br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>19,888 kills</span>
                </span>
              </div>
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--second">
                  <span>2<sup>nd</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/5548e41157368a6bb78efff0e0f47428.jpg">
                  <br>
                  Häkke Test-A
                  <br><br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>17,472 kills</span>
                </span>
              </div>
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--third">
                  <span>3<sup>rd</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/f0fa414ee9b1a1b81b2cc913ad504c06.jpg">
                  <br>
                  SUROS TSR-10
                  <br><br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>11,302 kills</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="home__aside">
    <div ng-include="'components/home/aside.partial.html'"></div>
  </div>
</div>
