<div class="home__content">
  <article class="home__main">
    <div class="maps block blog-post shadow-z-1 {{mapInfoAnimClass}}">
      <div class="modal-hero blog-image"
           ng-style="{'background-image': 'url(/assets/img/infographic/header.png)'}">
        <div class="modal-hero__header">
          <h1 class="modal-hero__title">
            Trials by numbers
          </h1>
        </div>
        <div class="modal-hero__switch">
          <img src="/assets/img/logo.png" title="DestinyTrialsReport">
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12">
            <p>
              As we eagerly await the return of Trials of Orisis in Rise of Iron we decided to look back at Year Two. In this infographic you'll find all the interesting statistics we could find.
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Totals
            </h3>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>2,443,630</span>
            <label>Guardians participated</label>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>548,770</span>
            <label>Reached the lighthouse</label>
          </div>
        </div>
        <hr class="spacer">
        <div class="row">
          <div class="col-xs-6 col-sm-offset-2 col-sm-5 stat">
            <span>69,519,018</span>
            <label>Matches</label>
          </div>
          <div class="col-xs-6 col-sm-5 stat">
            <span>1,534,004,822</span>
            <label>Kills</label>
          </div>
        </div>
      </div>
      <div class="modal-hero blog-image infographic__section"
           ng-style="{'background-image': 'url(/assets/img/infographic/header.png)'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title">
            Weapons
          </h2>
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Top weapons
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Primary</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Secondary</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Heavy</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Headshots</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive" ng-src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg" alt="The Last Word" src="https://www.bungie.net//common/destiny_content/icons/2d553cdd506b792710e5cec9fb653dc9.jpg">
                    <span class="last-match-weapon__title">The Last Word</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <span class="infographic-top-weapons-stat">20%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Weapon types
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label">Primary</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Percentage</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/auto-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/scout-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/pulse-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/hand-cannon.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <hr class="hr--minor">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label">Secondary</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Percentage</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/sniper-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/shotgun.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/fusion-rifle.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive"
                       ng-src="assets/img/weapon-icons/sidearm.svg">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>1,123,123</span>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span>25</span>%
                </div>
              </div>
            </div>

            <hr class="hr--minor">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <label class="top-weapons__label">Heavy</label>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <label>Kills</label>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <label>Percentage</label>
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/rocket-launcher.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>1,123,123</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>25</span>%
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/machine-gun.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>1,123,123</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>25</span>%
              </div>
            </div>
            <div class="row top-weapons--map__row">
              <div class="col-xs-6 col-sm-4">
                <img class="weapon-type-icon img-responsive"
                     ng-src="assets/img/weapon-icons/sword.svg">
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>1,123,123</span>
              </div>
              <div class="col-xs-3 col-sm-4 stat">
                <span>25</span>%
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Top weapons from Guardian.gg
            </h3>
            <a ng-href="https://guardian.gg/en/weapon-stats?platform={{platformNumeric}}&mode=14&start={{trialsDates.begin}}&end={{trialsDates.end}}"
               target="_blank"
               data-content="Kindly provided by Guardian.gg. Click here to head over there for the complete list and a lot more cool stats!" bs-popover>
              <i class="material-icons icon--small info">&#xE148;</i>
            </a>
          </div>
          <div class="col-xs-12 col-sm-10" ng-if="!gggShow">
            <div class="first-in-lighthouse__undecided">
              Guardian.gg does not have any weapon stats to show (yet!).
            </div>
          </div>
          <div class="col-xs-12 col-sm-5" ng-repeat="type in [gggWeapons[platformNumeric].primary,
                                     gggWeapons[platformNumeric].special] track by $index">
            <div class="row top-weapon" ng-repeat="weapon in type track by $index" ng-if="$index < 3">
              <div class="col-xs-6 col-sm-7 last-weapon-weapon__descr">
                <img class="last-match-weapon__img img-responsive" ng-src="{{'https://www.bungie.net/' + weapon.icon}}" alt="{{weapon.name}}">
                <span class="last-match-weapon__title" ng-bind="weapon.name"></span>
              </div>
              <div class="col-xs-6 col-sm-5 stat">
                <span ng-bind="weapon.kills | number:2"></span>%
              </div>
            </div>
            <hr class="hr--minor visible-xs" ng-if="$index === 0">
          </div>
        </div>
        <hr>
        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              First fireteams to reach the lighthouse
            </h3>
            <span data-content="Due to the way Bungie provides information on lighthouse visits, this leaderboard is subject to change when the tension is high." bs-popover>
              <i class="material-icons icon--small info">&#xE8FD;</i>
            </span>
            <div class="first-in-lighthouse__platform-toggle">
              <span class="stat-header">Platform</span>
              <a href ng-click="toggleFlawless(0)" ng-class="{'is-active': lighthouseFilter == 0}">Both</a>
              <a href ng-click="toggleFlawless(1)" ng-class="{'is-active': lighthouseFilter == 1}">Xbox</a>
              <a href ng-click="toggleFlawless(2)" ng-class="{'is-active': lighthouseFilter == 2}">PlayStation</a>
            </div>

          </div>
          <div class="col-xs-12 col-sm-10" ng-if="!lighthouseLeaderboard">
            <div class="first-in-lighthouse__undecided">
              The race is still on...
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 stat first-in-lighthouse__players" ng-if="lighthouseLeaderboard && $index < 3" ng-repeat="lb in lighthouseLeaderboard">
            <span class="first-in-lighthouse__rank first-in-lighthouse__rank&#45;&#45;{{lb.class}}">
              <span>{{lb.rank}}<sup ng-bind="lb.rankSuffix"></sup></span>
            </span>
            <span class="first-in-lighthouse__player" ng-repeat="player in lb.players track by $index">
              <a ng-href="https://my.trials.report/{{$parent.lb.platform === 1 ? 'xbox' : 'ps'}}/{{player}}" ng-bind="player" target="_blank"></a>
            </span>
            <span class="first-in-lighthouse__player" ng-if="lb.players.length <= 2">&nbsp;</span>
            <span class="first-in-lighthouse__player" ng-if="lb.players.length <= 1">&nbsp;</span>
            <div class="first-in-lighthouse__platform">
              <img ng-if="$parent.lb.platform === 1" src="assets/img/xbox.svg" alt="Xbox">
              <img ng-if="$parent.lb.platform === 2" src="assets/img/ps.svg" alt="PlayStation">
            </div>
            <span class="first-in-lighthouse__time">
              <span ng-bind="lb.time"></span>
            </span>
            <hr class="hr--minor visible-xs">
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="home__aside">
    <div ng-include="'components/home/aside.partial.html'"></div>
  </div>
</div>
