<div class="modal-hero blog-image infographic__section"
           ng-style="{'background-image': 'url(https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_pantheon.jpg)'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title">
            Maps
          </h2>
        </div>
      </div>
      <div class="blog-post__content">
        <!--<div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Most kills
              <br><br>
              <p class="faded">(excluding weeks with rotating maps)</p>
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-7">
                  <label class="top-weapons__label">Map</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label></label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-7">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_exodus_blue.jpg">
                    <span class="last-match-weapon__title">Exodus Blue</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-5 stat">
                  <span class="infographic-top-weapons-stat">137,491,867</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-7">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_asylum.jpg">
                    <span class="last-match-weapon__title">Asylum</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-5 stat">
                  <span class="infographic-top-weapons-stat">135,645,476</span>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-7">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_pantheon.jpg">
                    <span class="last-match-weapon__title">Pantheon</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-5 stat">
                  <span class="infographic-top-weapons-stat">110,883,175</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>-->
        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Most used maps
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--first">
                  <span>1<sup>st</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  The Burning Shrine
                  <br><br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>7 times</span>
                </span>
              </div>
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--second">
                  <span>2<sup>nd</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  Asylum
                  <br><br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>6 times</span>
                </span>
              </div>
              <div class="col-xs-12 col-sm-4 stat first-in-lighthouse__players">
                <span class="first-in-lighthouse__rank first-in-lighthouse__rank--third">
                  <span>3<sup>rd</sup></span>
                </span>
                <span class="first-in-lighthouse__player infographic-weapon-leaderboard">
                  Exodus blue<br>
                  Rusted Lands
                  <br><br>
                </span>
                <span class="first-in-lighthouse__time">
                  <span>5 times</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="stat-header">
              Most kills with weapon type
            </h3>
          </div>
          <hr class="spacer">
          <div class="col-xs-12">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label class="top-weapons__label">Map</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Primary</label>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                  <label>Secondary</label>
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_the_anomaly.jpg">
                    <span class="last-match-weapon__title">Anomaly</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;28%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/shotgun.svg">&nbsp;&nbsp;29%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_asylum.jpg">
                    <span class="last-match-weapon__title">Asylum</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;13%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;28%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/bannerfall.jpg">
                    <span class="last-match-weapon__title">Bannerfall</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;&nbsp;18%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;32%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/black_shield.jpg">
                    <span class="last-match-weapon__title">Black Shield</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;&nbsp;12%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;34%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_blind_watch.jpg">
                    <span class="last-match-weapon__title">Blind Watch</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;&nbsp;14%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;32%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_the_burning_shrine.jpg">
                    <span class="last-match-weapon__title">Burning Shrine</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/auto-rifle.svg">&nbsp;&nbsp;16%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;24%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_exodus_blue.jpg">
                    <span class="last-match-weapon__title">Exodus Blue</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;16%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;25%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_firebase_delphi.jpg">
                    <span class="last-match-weapon__title">Firebase Delphi</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;20%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;21%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/frontier.jpg">
                    <span class="last-match-weapon__title">Frontier</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;&nbsp;17%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;34%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/memento.jpg">
                    <span class="last-match-weapon__title">Memento</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/scout-rifle.svg">&nbsp;&nbsp;16%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;30%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_pantheon.jpg">
                    <span class="last-match-weapon__title">Pantheon</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/hand-cannon.svg">&nbsp;&nbsp;12%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;38%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_the_rusted_lands.jpg">
                    <span class="last-match-weapon__title">Rusted Lands</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;16%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;32%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/the_drifter.jpg">
                    <span class="last-match-weapon__title">The Drifter</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;14%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;28%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/timekeeper.jpg">
                    <span class="last-match-weapon__title">The Timekeeper</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/auto-rifle.svg">&nbsp;&nbsp;19%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;21%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_twilight_gap.jpg">
                    <span class="last-match-weapon__title">Twilight Gap</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/hand-cannon.svg">&nbsp;&nbsp;12%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/shotgun.svg">&nbsp;&nbsp;27%
                </div>
              </div>
              <div class="row top-weapons--map__row">
                <div class="col-xs-6 col-sm-6">
                  <div class="last-weapon-weapon__descr">
                    <img class="last-match-weapon__img img-responsive infographic-map-icon" ng-src="https://www.bungie.net//img/theme/destiny/bgs/pgcrs/widows_court.jpg">
                    <span class="last-match-weapon__title">Widow's Court</span>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/pulse-rifle.svg">&nbsp;&nbsp;18%

                </div>
                <div class="col-xs-3 col-sm-3 stat">
                    <img class="weapon-type-icon"
                         ng-src="assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;37%
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row first-in-lighthouse">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Biggest share of kills by a weapon type
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div style='height:.75em;'>&nbsp;</div>
                <div class="last-weapon-weapon__descr infographic-weapon-big">
                  <img class="img-responsive" ng-src="/assets/img/weapon-icons/sniper-rifle.svg">&nbsp;&nbsp;on Pantheon
                  <span class="last-match-weapon__title"></span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 stat infographic-stat-medium">
                <big>38%</big>
                <label>of the kills</labe>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Run for heavy?
            </h3>
          </div>
          <hr class="hr--minor visible-xs">
          <div class="col-xs-12 col-sm-10">
            <div class="stat">
              <span>17.8% - Bannerfall</span>
              <label>Highest percentage of Heavy kills</label>
            </div>
            <hr class="spacer">
            <div class="stat">
              <span>9.6% - The Anomaly</span>
              <label>Lowest percentage of Heavy kills</label>
            </div>
          </div>
        </div>
      </div>