 <div class="modal-hero blog-image infographic__section"
           ng-style="{'background-image': 'url(https://www.bungie.net//img/theme/destiny/bgs/pgcrs/crucible_the_rusted_lands.jpg)'}">
        <div class="modal-hero__header">
          <h2 class="modal-hero__title">
            Weekly stats
          </h2>
        </div>
      </div>
      <div class="blog-post__content">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Matches played
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <!-- <canvas width="300" id="matchesChart"> -->
            <canvas id="line" class="chart chart-line" chart-data="dataMatches"
            chart-labels="labels" chart-options="options"
            chart-dataset-override="datasetOverride">
            </canvas> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              It got harder and harder...
            </h3>
          </div>
          <hr class="hr--minor visible-xs">
          <div class="col-xs-12 col-sm-10">
            <div class="stat">
              <span>17.7% - Week 2 on Exodus Blue</span>
              <label>Highest % of participants reaching the lighthouse</label>
            </div>
            <hr class="spacer">
            <div class="stat">
              <span>5.5% - Week 43 on Pantheon</span>
              <label>Lowest % of participants reaching the lighthouse</label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              Guardians reaching the lighthouse
            </h3>
          </div>
          <div class="col-xs-12 col-sm-10">
            <!-- <canvas width="300" id="weeksChart"> -->
            <canvas id="line" class="chart chart-line" chart-data="dataWeeks"
            chart-labels="labels" chart-options="optionsWeeks"
            chart-dataset-override="datasetsWeeks">
            </canvas> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h3 class="stat-header">
              On average per weekend
            </h3>
          </div>
          <hr class="hr--minor visible-xs">
          <div class="col-xs-12 col-sm-10">
            <div class="row">
              <div class="col-xs-6 stat">
                <span>440,499</span>
                <label>Guardians participated</label>
              </div>
              <div class="col-xs-6 stat">
                <span>90,446</span>
                <label>reached the lighthouse</label>
              </div>
            </div>
            <hr class="spacer">
            <div class="row">
              <div class="col-xs-6 stat">
                <span>1,579,978</span>
                <label>Matches played</label>
              </div>
              <div class="col-xs-6 stat">
                <span>34,863,746</span>
                <label>Kills</label>
              </div>
            </div>
          </div>
        </div>
      </div>