<div class="modal modal--white" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <a href="javascript:void(0)" class="btn btn-default btn-fab pull-left btn-fab-left btn-fab-map" ng-click="toggleDirection('left')" ng-show="showPrev"><i class="material-icons">&#xE5C4;</i></a>
    <a href="javascript:void(0)" class="btn btn-default btn-fab pull-right btn-fab-right btn-fab-map" ng-click="toggleDirection('right')" ng-show="showNext"><i class="material-icons">&#xE5C8;</i></a>
    <div class="modal-content" ng-class="{ 'slide-left': direction == 'left', 'slide-right' : direction == 'right' }">
      <div ng-click="$hide()" class="modal-close"><i class="material-icons">&#xE14C;</i></div>
      <div class="modal-hero" ng-style="{'background-image':'url(https://www.bungie.net/' + DestinyCrucibleMapDefinition[mapInfo.referenceId].pgcrImage + ')'}">
        <div style="width: 100%;">
          <div class="modal-hero__title" ng-bind="DestinyCrucibleMapDefinition[mapInfo.referenceId].name"></div>
          <div class="modal-hero__label" ng-bind="mapInfo.weekText"></div>
        </div>
        <div class="modal-stats">
          <div class="modal-hero__stats" ng-bind="mapInfo.timeAgo"></div>
          <div class="modal-hero__description" ng-bind="trialsInProgress ? 'Trials Ends' : 'Last time in Trials'"></div>
        </div>
        <div class="modal-stats">
          <div class="modal-hero__stats" ng-bind="mapInfo.lighthouse | number"></div>
          <div class="modal-hero__description">Flawless runs</div>
        </div>
      </div>
      <svg class="spinner" style="position: absolute; left: 43%;" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" ng-class="{'hide': mapInfo}">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
      <div class="modal-text">
        <div class="row">
          <div class="col-xs-12 col-sm-5" ng-repeat="(key, weapons) in weaponSummary track by $index" ng-class="{'col-sm-offset-1': $index > 0}">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label" ng-bind="key"></label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Diff. to avg</label>
                </div>
              </div>
              <div class="row top-weapons--map__row" ng-repeat="weapon in weapons">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive" ng-src="{{'assets/img/weapon-icons/' + weapon.weapon_type + '.svg'}}" alt="{{weapon.weapon_type}}">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span ng-bind="weapon.killPercentage | number:2"></span>%
                </div>
                <div class="col-xs-3 col-sm-4 stat" ng-class="{'success': weapon.diffPercentage > 0, 'fail': weapon.diffPercentage < 0}">
                  <i class="material-icons"> {{weapon.diffPercentage > 0 ? '&#xE5CE;' : '&#xE5CF;'}} </i> <span ng-bind="weapon.diffPercentage | number:2"></span>%
                </div>
              </div>
              <hr class="visible-xs" ng-if="$index === 0">
            </div>
          </div>
        </div>
        <hr>
        <div class="faded text-center">Weapon usage during Trials of Osiris on <span ng-bind="DestinyCrucibleMapDefinition[mapInfo.referenceId].name"></span>, compared to all maps</div>
      </div>
    </div>
  </div>
</div>
