
<div class="modal modal--white" tabindex="-1" role="dialog" aria-hidden="true" >
  <a href="javascript:void(0)" class="btn btn-default btn-fab pull-left btn-fab-left" ng-click="toggleDirection('left')" ng-show="showPrev"><i class="material-icons">&#xE5C4;</i></a>
  <a href="javascript:void(0)" class="btn btn-default btn-fab pull-right btn-fab-right" ng-click="toggleDirection('right')" ng-show="showNext"><i class="material-icons">&#xE5C8;</i></a>
  <div class="modal-dialog" ng-hide="hideModal">
    <div class="modal-content" ng-class="{ 'slide-left': direction == 'left', 'slide-right' : direction == 'right', 'slide-center': direction == 'center' }">
      <div ng-click="$hide()" class="modal-close"><i class="material-icons">&#xE14C;</i></div>
      <div class="modal-hero" ng-style="{'background-image':'url(' + DestinyCrucibleMapDefinition[mapInfo.referenceId].pgcrImage + ')'}">
        <div>
          <div class="modal-hero__title" ng-bind="DestinyCrucibleMapDefinition[mapInfo.referenceId].name"></div>
          <div class="modal-hero__label" ng-bind="(trialsInProgress ? 'This' : 'Last') + ' week\'s map'"></div>
        </div>
      </div>
      <svg class="spinner" style="position: absolute; left: 43%;" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" ng-class="{'hide': mapInfo}">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
      <div class="modal-text">
        <div class="row">
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="mapInfo.timeAgo"></span>
            <label>Last time in Trials</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="mapInfo.lighthouse | number"></span>
            <label>Flawless runs</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="mapInfo.players | number"></span>
            <label>Guardians participated</label>
          </div>
          <div class="col-xs-6 col-md-3 stat">
            <span ng-bind="mapInfo.kills | number"></span>
            <label>Total Kills</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-5" ng-repeat="(key, weapons) in weaponSummary track by $index" ng-class="{'col-sm-offset-1': $index > 0}">
            <div class="top-weapons--map">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <label class="top-weapons__label" ng-bind="key"></label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Kills</label>
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <label>Diff. to avg</label>
                </div>
              </div>
              <div class="row top-weapons--map__row" ng-repeat="weapon in weapons">
                <div class="col-xs-6 col-sm-4">
                  <img class="weapon-type-icon img-responsive" ng-src="{{'assets/img/weapon-icons/' + weapon.weapon_type.toLowerCase().replace(' ','-') + '.svg'}}" alt="{{weapon.weapon_type}}">
                </div>
                <div class="col-xs-3 col-sm-4 stat">
                  <span ng-bind="weapon.killPercentage | number:2"></span>%
                </div>
                <div class="col-xs-3 col-sm-4 stat" ng-class="{'success': weapon.diffPercentage > 0, 'fail': weapon.diffPercentage < 0}">
                  <i class="material-icons"> {{weapon.diffPercentage > 0 ? '&#xE5CE;' : '&#xE5CF;'}} </i> <span ng-bind="weapon.diffPercentage | number:2"></span>%
                </div>
              </div>
              <hr class="visible-xs" ng-if="$index === 0">
            </div>
          </div>
        </div>
        <hr>
        <div class="row" ng-if="gggModalShow">
          <div class="col-xs-12 col-sm-6" ng-repeat="type in [gggModal[platformNumeric].primary,
                                     gggModal[platformNumeric].special] track by $index">
            <div class="row top-weapon" ng-repeat="weapon in type track by $index" ng-if="$index < 5">
              <div class="col-xs-6 col-sm-7 last-weapon-weapon__descr">
                <img class="last-match-weapon__img img-responsive" ng-src="{{'https://www.bungie.net/' + weapon.icon}}" alt="{{weapon.name}}">
                <span class="last-match-weapon__title" ng-bind="weapon.name"></span>
              </div>
              <div class="col-xs-6 col-sm-5 stat">
                <span ng-bind="weapon.kills | number:2"></span>%
              </div>
            </div>
            <hr class="visible-xs" ng-if="$index === 0">
          </div>
        </div>
        <!--<hr>-->
        <!--<div class="row">-->
          <!--<div class="col-xs-5 stat">-->
            <!--<span>-->
              <!--<i class="material-icons star">&#xE838;</i>-->
              <!--<i class="material-icons star">&#xE838;</i>-->
              <!--<i class="material-icons star">&#xE838;</i>-->
              <!--<i class="material-icons star">&#xE839;</i>-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
            <!--</span>-->
            <!--<label>Community rating</label>-->
          <!--</div>-->
          <!--<div class="col-xs-5 col-xs-offset-1 stat">-->
            <!--<span class="rating rating&#45;&#45;unrated">-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
              <!--<i class="material-icons star">&#xE83A;</i>-->
            <!--</span>-->
            <!--<label>Your rating</label>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
