@import 'inc/vars';
@import 'inc/fonts';
@import 'inc/colors';
@import 'inc/icons';
@import 'inc/mixins';
@import 'inc/animations';

@import 'vendor/theme-override';

@import 'main/layout';
@import 'main/typography';
@import 'main/buttons';

@import 'elements/loading';
@import 'elements/popover';
@import 'elements/tabs';
@import 'elements/stats';
@import 'elements/match';
@import 'elements/modal';
@import 'elements/carousel';
@import 'elements/dropdown-menu';
@import 'elements/block';
@import 'elements/select';
@import 'elements/message';

// Main parts
@import 'parts/controls';
@import 'parts/title-bar';
@import 'parts/main-search';
@import 'parts/blog-post';
@import 'parts/player-overlay';
@import 'parts/current-map';
@import 'parts/platform-toggle';
@import 'parts/donate';
@import 'parts/colofon';
@import 'parts/home';
@import 'parts/maps';
@import 'parts/home-aside';
@import 'parts/top-weapons';
@import 'parts/first-in-lighthouse';
@import 'parts/settings';
@import 'parts/kd-graph';
@import 'parts/challenge';

// Player card
@import 'parts/player';
@import 'parts/edit-player';
@import 'parts/player-overview';
@import 'parts/player-quick-look';
@import 'parts/player-main-stats';
@import 'parts/player-this-week';
@import 'parts/player-hazards';
@import 'parts/recent-players';

// Equipped tab
@import 'parts/player-weapons';
@import 'parts/player-cooldowns';
@import 'parts/player-perks';
@import 'parts/player-armor';

// Last matches tab
@import 'parts/player-last-matches';

// Stats tab
@import 'parts/player-stats';

// Maps tab
@import 'parts/player-maps';

// Infographic
@import 'pages/infographic';

// TODO: Remove after april fools
.april-fools {
  background: linear-gradient(to bottom, rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;

  &:hover {
    .april-fools__content {
      background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    }
  }

  .toggle {
    margin-right: 1.5em !important // it's all allowed for april fools;
  }

  .togglebutton label input[type=checkbox]:checked + .toggle,
  .togglebutton-default label input[type=checkbox]:checked + .toggle {
    background-color: transparentize($trials-gold, .5);
  }

  .togglebutton label input[type=checkbox]:checked + .toggle:after,
  .togglebutton-default label input[type=checkbox]:checked + .toggle:after {
    background-color: $trials-gold;
  }

  .togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
		background-color: rgba(255, 255, 255, 0.3);

		&:after {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.april-fools__content2 {
  padding: 1em $controls-padding;
  background: rgba(255, 255, 255, 0.3);
  @include shadow(3);
}

.april-fools__content {
  padding: 1em $controls-padding;
  flex-grow: 1;
}

.realtime {
  background: #37474F;
  color: white;
  box-shadow: inset 0px 10px 8px -10px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;

  .last-match-weapon__img {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    vertical-align: -.1em;
  }

  .player-hazard {
    margin-left: .5em;
    animation: blink 1s linear infinite;
  }

  .stat {
    margin-top: 1em;

    > span {
      text-overflow: ellipsis;
      display: block;
      max-width: 100%;
      overflow: hidden;
      line-height: 1.4;
    }
  }

  *[realtime] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .2s linear, transform .2s ease-out;
    display: inline-block;
    will-change: opacity, transform;

    &.transitioning {
      transform: translate3d(0, .2em, 0);
      opacity: 0;
    }
  }
}

@keyframes blink {
  0% { color: rgba(255, 255, 255, 0.5); }
  100% { color: rgba(255, 255, 255, 1); }
}
@-webkit-keyframes blink {
  0% { color: rgba(255, 255, 255, 0.5); }
  100% { color: rgba(255, 255, 255, 1); }
}

.realtime__flag {
  background: #FDD835;
  color: #37474F;
  position: absolute;
  right: -1.5em;
  top: .75em;
  text-align: center;
  transform: rotateZ(45deg);
  font-size: .8em;
  font-weight: bold;
  padding: .2em 2em;
}

.realtime__header {
  @extend .data-label;
  margin-top: 0;
  color: #FDD835;
  font-weight: 400;
  font-family: 'Roboto';
  margin-bottom: .5em;

  i {
    color: #FDD835;
  }
}

$offset: 187;
$duration: 1.4s;

.blur {
  filter: blur(2px);
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.d-block {
  display: block;
}

.spinner {
  position: relative;
  left: 40%;
  top: 60%;
  animation: rotator $duration linear infinite;
}

.active-player {
  background-color: #ECEFF1;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.w-100 {
  width: 100%;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
  dash $duration ease-in-out infinite,
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}

.btn-fab-left {
  left: -90px !important;
}

.btn-fab-right {
  right: -90px !important;
}

.btn-fab-map {
  background-color: white !important;
  top: 35% !important;
  font-size: 41px !important;
  width: 80px !important;
  height: 80px !important;
  position: fixed !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(-300%);
    animation-play-state: paused;
  }

  51% {
    opacity: 0;
  }

  52% {
    opacity: 0;
    transform: translateX(300%);
  }


  53% {
    opacity: 1;
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(300%);
    animation-play-state: paused;
  }

  51% {
    opacity: 0;
  }

  52% {
    opacity: 0;
    transform: translateX(-300%);
  }


  53% {
    opacity: 1;
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-left {
  animation-duration: .6s;
  animation-name: slideLeft;
}

.slide-right {
  animation-duration: .6s;
  animation-name: slideRight;
}

.modal-content {
  //backface-visibility: hidden;
}

.faded {
  color: #999;
}

.new-badge {
  position: absolute;
  right: 7px;
  top: -12px;
  padding: 2px 3px;
  border-radius: 2px;
  background: #fe6363;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}

@media (max-width: 780px) {
  .btn-fab-left {
    left: 0 !important;
    z-index: 1;
  }
  .btn-fab-right {
    right: 0 !important;
    z-index: 1;
  }
  .btn-fab-map {
    padding: 0 !important;
    background-color: transparent !important;
    top: 36% !important;
    font-size: 32px !important;
    width: 60px !important;
    height: 60px !important;
  }
  .btn.btn-fab {
    box-shadow: none !important;
    i {
      font-size: 44px;
    }
  }
  .modal-stats {
    width: 100%;
  }
  .modal-hero__stats {
    font-size: 1em;
  }
}

.highlight-change {
  background-color: rgba(255,215,0, 1);
  transition: background-color 20s cubic-bezier(0,1,1,1);
}

.highlight-fade {
  background-color: rgba(255,215,0,0);
}
